{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title%}Log in page{%endblock%}
{% block head %}{%endblock%}
{% block content%}

             <form method="post" class="row  form-log" >
                <h1 class="text-center  text-light">LOG IN</h1>
                 {{ form.csrf_token() }}

               <div class="col-lg-12" style="text-align:center; color:red;">
                {% with all_msg = get_flashed_messages() %}
                {% if all_msg %}
                {% for msg in all_msg %}
                {{msg}}
                {%endfor%}
                {%endif%}
                {%endwith%}
                </div>

                <div class="col-lg-12">
                    {{ render_field(form.log_mail, placeholder='email@example.com', form_group_classes='col-lg-12 ')}}
                    {{ render_field(form.log_pw, placeholder='Password', form_group_classes='col-lg-12')}}
                </div>

                <div class="col-12 d-grid gap-2 d-block gy-3">
                    {{ render_field(form.log_submit, placeholder='LogIn', button_style='secondary')}}

                </div>


            </form>
{%endblock%}


